{% extends "base.html" %}

{% block content %}
  {{ super() }}

  {% if page.meta.comments %}
  <h2 id="__comments" style="margin-top: 2rem">💬 댓글</h2>
  <script src="https://giscus.app/client.js"
    data-repo="workindex/stock-reports"
    data-repo-id="R_kgDOSr7vpg"
    data-category="Announcements"
    data-category-id="DIC_kwDOSr7vps4C-MMY"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="ko"
    crossorigin="anonymous"
    async>
  </script>
  {% endif %}
{% endblock %}
